In [1]:
import pandas as pd
from pymongo import MongoClient

In [2]:
# Conexi√≥n a la base
conn ="mongodb+srv://luisnavarrov13:1234@datapath.26l5yih.mongodb.net/?retryWrites=true&w=majority&appName=datapath"
client = MongoClient(conn)
dbname = client["retail_db2"]

In [3]:
collection_name = dbname['customers']
customers = collection_name.find({"customer_fname": "Richard"})
customers

In [4]:
df_customers = pd.DataFrame(customers)
df_customers.head()

,_id,customer_id,customer_fname,customer_lname,customer_email,customer_password,customer_street,customer_city,customer_state,customer_zipcode
0,664164aaf4b81f4367e50b25,1,Richard,Hernandez,XXXXXXXXX,XXXXXXXXX,6303 Heather Plaza,Brownsville,TX,78521
1,664164aaf4b81f4367e50be7,195,Richard,Smith,XXXXXXXXX,XXXXXXXXX,9363 Dusty Butterfly Extension,Modesto,CA,95350
2,664164aaf4b81f4367e50c2f,267,Richard,Smith,XXXXXXXXX,XXXXXXXXX,7601 Blue Gate,Columbus,OH,43229
3,664164aaf4b81f4367e50d1e,506,Richard,Holloway,XXXXXXXXX,XXXXXXXXX,2186 Easy Creek Key,Caguas,PR,725
4,664164aaf4b81f4367e50d83,607,Richard,Reed,XXXXXXXXX,XXXXXXXXX,1971 Velvet Oak Road,Caguas,PR,725

In [5]:
from datetime import datetime

In [8]:
collection_name = dbname['orders']
orders = collection_name.find({"order_date":"2013-07-25 00:00:00.0"})
df_orders = pd.DataFrame(orders)
df_orders.head()

,_id,order_id,order_date,order_customer_id,order_status
0,66416554f4b81f4367e56c4b,1,2013-07-25 00:00:00.0,11599,CLOSED
1,66416554f4b81f4367e56c4c,2,2013-07-25 00:00:00.0,256,PENDING_PAYMENT
2,66416554f4b81f4367e56c4d,3,2013-07-25 00:00:00.0,12111,COMPLETE
3,66416554f4b81f4367e56c4e,4,2013-07-25 00:00:00.0,8827,CLOSED
4,66416554f4b81f4367e56c4f,5,2013-07-25 00:00:00.0,11318,COMPLETE